//Base font-family.
$baseFontFamily:        $sansFontFamily;
//Default colour for text.
$base-txt-color:     $black;
//Default colour for objects’ borders etc.
$base-ui-color:     $gray;
//headings
$headingsFontFamily:    $baseFontFamily;
$headerColor:           $black;
$headingsFontWeight:    normal;

